
<div *ngIf="existingJson" style="text-align: center;margin-top: 10px;">
  <h1>Recent your Json <span class="badge badge-secondary">{{existingJson.length}}</span></h1>
  <div *ngFor="let item of existingJson">
    <div>
      <div class="alert alert-success" role="alert" style="cursor: pointer;" (click)="copyLinks(item.api)">
        You Can access api from this url, click and copy url <span class="glyphicon glyphicon-copy"></span>:
        {{item.api}}
        <br> <span class="badge badge-secondary">{{item.timestamp| date:'hh:mm dd/MM/yyyy'}}</span>
      </div>

    </div>
    <div class="alert alert-dark" role="alert" style="cursor: pointer;" (click)="copyLink(item.url)">
      You Can view this json from here, click and copy url <span class="glyphicon glyphicon-copy"></span>: {{item.url}}
      <br> <span class="badge badge-secondary">{{item.timestamp| date:'hh:mm dd/MM/yyyy'}}</span>
    </div>
    <hr>
  </div>
</div>
<button (click)="preSubmitForm()">Important action</button>
<json-editor class="col-md-6" style="min-height: 300px; width: 400px;" [options]="editorOption" [data]="newData">
</json-editor>
<p-toast position="bottom-center"></p-toast>
<div class="alert alert-success" role="alert" *ngIf="isApiLink" style="cursor: pointer;" (click)="copyAPI()">
  You Can access api from this url, click and copy url <span class="glyphicon glyphicon-copy"></span>: {{api}}
</div>

<div class="alert alert-info" role="alert" *ngIf="isURL" style="cursor: pointer;" (click)="copyUrl()">
  You Can view this json from here, click and copy url <span class="glyphicon glyphicon-copy"></span>: {{url}}
</div>
<button type="button" class="btn btn-secondary  btn-lg btn-block" (click)="postData()">Save Json</button>
<br><br>
